body {
    font-family: Georgia, Times, serif;
    background: rgb(255, 255, 255);
    margin: 0;
    color: #30043b;
    }

    
    header {  
        font-size: 30px;
        position: relative;
        height: 70vh; 
        color: white;
        background: linear-gradient( 45deg,  rgba(70, 2, 77, 0.795),rgba(128, 61, 172, 0.568)   ), url('chickenfries.jpg'); 
        background-size: cover;
        background-position: center;
        text-align: center;
        display: flex;
        flex-direction: column;    
    }

    main{
        padding: 0 5%;
    }

    .info-bar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--color-text-light);
    margin-top: -50px; 
    padding: 30px 20px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.918);
    border-radius: 4px;
    position: relative; 
    z-index: 10;
    min-height: 120px;
    }
    
    .info-item{
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0 15px;
    border-right: 1px solid white ;
    }
    
    .tagline {
    color: orange;
    font-family:Cambria, Cochin, Georgia, Times,;
    font-size: 30px;
    }
    
    
    .menu, .intro {
    padding: 20px;
    text-align: center;
    justify-content: center;
   
    }
    
    
    .food-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    }
    
    
    .food-card {
    border: 2px solid orange;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    }
    
    
    .food-card img {
    width: 100%;
    border-radius: 10px;
    }
    
    
    .btn {
    background: purple;
    color: white;
    padding: 10px 20px;
    display: inline-block;
    margin-top: 20px;
    text-decoration: none;
    border-radius: 5px;
    }
    
    
    form {
    max-width: 400px;
    margin: auto;
    }

    .logo{
        max-width: 90px;
        display: flex;
        margin: none;
        align-items: end;
        justify-content: left;
        color: antiquewhite;
    }
    